<div class="content">
    <h2>Router Animations</h2>

    <p>Route animations use the <code>route-outlet</code> for triggering the transitions beetween
        different pages.
    </p>
    <p>The angular documentation indicates the next code to be added to the application component html.</p>

    <markdown class="code-width" [data]="markdownHtml"></markdown>

    <p><code>app.component.html</code> </p>
    <p>And this code in the component controller.</p>


    <markdown class="code-width" [data]="markdownTs"></markdown>
    <p><code>app.component.ts</code></p>

    <p>We mark the routes to be animated in the <code>app-routing.module.ts</code>. We can have different animations for
        each route.</p>
    <markdown class="code-width" [data]="markdownAppRouting"></markdown>
    <p><code>app-routing.module.ts</code></p>

    <p>Then we can define the transitions in a typescript file <code>routes-animation.ts</code> and import it to
        <code>app.component.ts</code>
    </p>


    <markdown class="code-width" [data]="markdownRoutesAnim"></markdown>
    <p><code>routes-animation.ts</code></p>


    <markdown class="code-width" [data]="markdownImportAnim"></markdown>
    <p><code>app-routing.module.ts</code></p>

</div>