<div>
  <div class="header">
    <div class="header-row">
      <button class="header-button" [ngClass]="{'active': activeButton === 0 }" (click)="navPressed(0)">Simple
        Animations</button>
      <button class="header-button" [ngClass]="{'active': activeButton === 1 }" (click)="navPressed(1)">Angular
        Animations</button>
      <button class="header-button" [ngClass]="{'active': activeButton === 2 }" (click)="navPressed(2)">Router
        Animations</button>
    </div>
  </div>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>